.greetings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background: linear-gradient(135deg, #faf3ec 0%, #ffebe9 100%);
  font-family: 'Montserrat', sans-serif;
}

.greetings img {
  max-width: 150px; 
  margin-bottom: 30px;
}

.greetings h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #333;
  text-shadow: 2px 2px 4px rgba(51, 51, 51, 0.2);
}

.greetings p {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #666;
}

.greetings button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #5a5a5a;
  background-color: #f8c8d8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
  transition: background-color 0.3s ease;
}

.greetings button:hover {
  background-color: #f8a8b8; 
}


/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  visibility: hidden;
}

.card {
  width: 200px;
  min-height: 100px; 
  max-height: 500px;
  margin: 20px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.cardFront {
  background-color: var(--chakra-colors-customColors-gold);
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  visibility: visible;
}

.cardBack {
  background-color: var(--chakra-colors-customColors-darkPink);
  color: var(--chakra-colors-customColors-lightGray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  visibility: visible;
} */