.wrapper {
  margin-top: 30px;
  width: 1800px;
}

.container {
  /* background-color: #333133; */
  background-color: rgba(rgb(194, 93, 93), green, blue, 1);

}

.body {
  display: flex;
  justify-content: space-between;
}