.wrapper {
    border: 3px solid black;
    border-radius: 10px;
  }
  
  .container {
    background-color: rgba(242, 235, 176, 1);
    border-radius: 10px;
  }
  
  .barCompleted {
    background-color: rgba(253, 209, 216, 1);
  }
  
  .label {
    font-size: 20px;
    color: rgb(0, 0, 0);
  }